h4.pull-right {
    font-size: 14px;
    font-weight: bold;
}

span.label {
    font-size: 11px;
    /*min-width: 35px;*/
    /*display: inline-flex;*/
}

span.label.label-text {
    color: grey;
}

.has-many-photos-form input,
.has-many-texts-form input{
    width: 60px!important;
}
.has-many-photos-form .input-group-addon,
.has-many-texts-form .input-group-addon{
    /*display: none;*/
}



