:root {
   --container-width: calc(116rem + var(--container-padding) * 2);
   --container-padding: 1rem;
   @screen sm {
      --container-padding: 3rem;
   }

   @screen xl {
      --container-padding: 4rem;
   }
}
.container {
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   padding-left: var(--container-padding);
   padding-right: var(--container-padding);
   width: var(--container-width);
}

@layer components {
   @responsive {
      .px-container {
         padding-left: var(--container-padding);
         padding-right: var(--container-padding);
      }
      .pl-container {
         padding-left: var(--container-padding);
      }
      .pr-container {
         padding-right: var(--container-padding);
      }
      .-mx-container {
         margin-left: calc(var(--container-padding) * -1);
         margin-right: calc(var(--container-padding) * -1);
      }
      .-ml-container {
         margin-left: calc(var(--container-padding) * -1);
      }
      .-mr-container {
         margin-right: calc(var(--container-padding) * -1);
      }
      .mx-container {
         margin-left: var(--container-padding);
         margin-right: var(--container-padding);
      }
      .ml-container {
         margin-left: var(--container-padding);
      }
      .mr-container {
         margin-right: var(--container-padding);
      }
   }
}
